<p>
    <a href="mailto:advaythp@gmail.com" target="_blank">Email: advaythp@gmail.com</a>
    <a href="https://www.linkedin.com/in/advayth-pashupati/" target="_blank">Linkedin: Advayth Pashupati</a>
    <a href="https://github.com/AamindMandragora" target="_blank">Github: Aamind Mandragora</a>
    <a href="https://www.facebook.com/profile.php?id=100084375565451" target="_blank">Facebook: Advayth Pashupati</a>
</p>