body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --marginalbg: black;
    --text: white;
    --accentr: 2;
    --accentg: 77;
    --accentb: 75;
    --accent1: rgb(var(--accentr), var(--accentg), var(--accentb));
    --accent2: rgb(calc(1.5 * var(--accentr)), calc(1.5 * var(--accentg)), calc(1.5 * var(--accentb)));
    --accent3: rgb(calc(2 * var(--accentr)), calc(2 * var(--accentg)), calc(2 * var(--accentb)));
    --accent4: rgb(calc(calc(255 * 0.8) + calc(var(--accentr) * 0.2)), calc(calc(255 * 0.8) + calc(var(--accentg) * 0.2)), calc(calc(255 * 0.8) + calc(var(--accentb) * 0.2)));
    background-color: var(--marginalbg);
}

header {
    margin: 0;
    height: 100vh;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--marginalbg);
    color: var(--text);
}

header #title {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

header h1, header h2 {
    margin: 0;
}

header h2 {
    font-size: 2.25vw;
    padding-top: 1.5vh;
}

nav {
    align-self: center;
    margin: 0;
    width: 60vw;
    min-width: 900px;
    min-height: 5vh;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 35px;
    background-color: var(--accent1);
    position: fixed;
    top: 5vh;
}

nav a {
    background-color: var(--accent1);
    padding: 2vh 2vw;
    border-radius: 35px;
    color: var(--accent4);
    font-size: max(16px, 1.5vh);
}

.current-nav {
    background-color: var(--accent2);    
}

nav a:hover {
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--accent4);
    font-size: 2.5vh;
}

main div ul {
    padding: 0 10vw;
    list-style-type: none;
}

main div ul li {
    border: 1px solid var(--accent1);
    color: var(--text);
    padding: 1.5vh 1.5vw;
    border-radius: 10px;
    margin: 1.5vh 0;
    font-size: 2vh;
}

footer {
    margin: 0;
    padding: 0 5vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--marginalbg);
    color: var(--text);
}

footer p {
    width: 90vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: max(16px, 1.5vh);
    justify-content: space-evenly;
}

footer a {
    color: var(--text);
    padding: 1vh 0;
}

.accent {
    color: var(--accent1);
}

.accent:hover {
    color: var(--accent2);
}

#settingsbtn {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    border: 2px solid var(--text);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: var(--accent1);
}

#settingsbtn:hover {
    background-color: var(--accent2);
}

#settingsbtn img {
    filter: invert(100%);
}

a {
    text-decoration: none;
}

.light {
    background-color: var(--accent2);
    color: var(--text);
}

.dark {
    background-color: var(--accent1);
    color: var(--text);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--accent3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
}

#settings {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--text);
    width: 30vw;
    height: 80vh;
    background-color: var(--accent4);
}

#shade {
    background-color: #363636ce;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#settings h1 {
    margin: 0;
    padding: 5vh 0;
    width: 30vw;
    background-color: var(--marginalbg);
    color: var(--text);
}

#settings #accent {
    background-color: var(--accent1);
    color: var(--text);
    height: 30px;
    border: none;
    margin-top: 2vh;
}

#exit {
    position: fixed;
    top: 5vh;
    left: 25vw;
    border-radius: 100%;
    border: 2px solid var(--text);
    width: 40px;
    height: 40px;
    background-color: var(--accent1);
    color: var(--text);
}

#exit:hover {
    background-color: var(--accent2);
}

/* min width for desktop mode = 1015px */

@media screen and (orientation: portrait) {
    main div {
        width: 90vw;
        padding: 2vh 5vw;
    }
}

@media screen and (orientation: landscape) {
    main div {
        width: 50vw;
        padding: 2vh 5vw;
    }
}